@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@300;400;700&display=swap');
// ======= COLOR ========
$primary-color: #121435;
$secondary-color: #FFCC00;

// ======= FONTS ========
$text-font: "Rancho";
$text-font-thai: 'Noto Serif Thai', serif;