@import "variables";

//  ------------------- Header --------------------------
.appbar {
  color: "#121435";
  width: 100%;
  height: 90px;

  .logo {
    width: 57px;
    height: 68px;
  }

  .nameLogo {
    font-family: $text-font;
    color: $secondary-color;
  }

  .boxcontact {
    margin-left: 5px;
    .contectIcon {
      width: 30px;
      height: 30px;
      color: $secondary-color;
    }

    .textcontectTitle {
      font-size: 1em;
      padding: 0px;
      font-family: $text-font;
    }

    @media only screen and (max-width: 680px) {
      display: none;
    }

    @media only screen and (max-width: 860px) {
      .textcontectTitle {
        font-size: 0.5em;
      }
    }
  }
}

.manubar {
  position: absolute;
  z-index: 3;
  width: 80%;
  left: 10%;
  height: 60px;
  padding: 15px;
  text-align: center;
  background: #ffcc00;
  top: 71px;

  .textmanu {
    color: #fafafa;
    font-family: $text-font;
    font-size: 30px;
    margin: 3%;
    &:hover {
      background: rgba(0, 0, 0, 0.22);
    }
    &:focus {
      background: rgba(0, 0, 0, 0.22);
    }
  }

  .textmanuFocus {
    background: rgba(0, 0, 0, 0.22);
    color: white;
    font-family: $text-font;
    font-size: 30px;
    margin: 3%;
  }

  @media only screen and (max-width: 376px) {
    width: 100%;
    left: 0;

    .textmanu {
      font-size: 15px;
      margin: 5px;
    }
    .textmanuFocus {
      font-size: 15px;
      margin: 5px;
    }
  }

  @media only screen and (min-width: 376px) and (max-width: 760px) {
    width: 100%;
    left: 0;

    .textmanu {
      font-size: 20px;
    }

    .textmanuFocus {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 1025px) {
    width: 60%;
    left: 20%;
  }
}

.coverpage {
  background-image: url("../public/static/board.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.boxcompanyname {
  color: #fafafa;
  font-family: "Rancho";
  width: 100%;
  font-weight: 800;
  text-align: center;
  font-size: 100px;

  .companyname {
    margin: 0;
  }
}

//  ------------------- END Header --------------------------

//  ------------------- Body --------------------------

.bgConcept {
  background-color: $primary-color;
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
}

.borderBox {
  padding-top: 15px;
  margin: auto;
  width: 80%;
  height: 90%;
  background-color: white;

  @media only screen and (min-width: 769px) {
    display: none;
  }

  // @media only screen and (min-width: 421px) and (max-width: 550px) {
  //   height: 95%;
  // }
}

.boxConcept {
  border: 3px solid #111;
  width: 95%;
  background-color: #fff;
  font-family: $text-font-thai;
  margin: auto;

  .logoCompany {
    width: 100px;
    height: 89px;
  }

  .textconceptTitle {
    font-family: $text-font-thai;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
  }

  .textconceptSubTitle {
    font-family: $text-font-thai;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 15px;
  }

  // @media only screen and (max-width: 420px) {
  //   .textconceptTitle {
  //     font-size: 12px;
  //   }

  //   .textconceptSubTitle {
  //     font-size: 10px;
  //   }
  // }

  // @media only screen and (min-width: 421px) and (max-width: 550px) {
  //   .textconceptTitle {
  //     font-size: 16px;
  //   }

  //   .textconceptSubTitle {
  //     font-size: 12px;
  //   }
  // }

  @media only screen and (min-width: 769px) {
    display: none;
  }
}

.borderLarge {
  padding-top: 20px;
  margin: auto;
  width: 80%;
  height: 85%;
  background-color: white;

  @media only screen and (max-width: 769px) {
    display: none;
  }
}

.largeConcept {
  width: 95%;
  border: 4px solid #111;
  font-family: $text-font-thai;
  background-color: white;
  margin: auto;
  .logoCompany {
    width: 250px;
    height: 250px;
  }

  .textconceptTitle {
    font-family: $text-font-thai;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
  }

  .textconceptSubTitle {
    font-family: $text-font-thai;
    font-size: 13px;
    padding: 5px 15px;
    font-weight: 400;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }

  @media only screen and (min-width: 840px) {
    .textconceptTitle {
      font-size: 18px;
    }

    .textconceptSubTitle {
      font-size: 14px;
    }
  }
}

.coverstandard {
  background-color: #f1f1f3;
  height: 465px;
  .img {
    width: 100%;
    height: 500px;
    padding: 0 50px;
  }

  @media only screen and (min-width: 426px) and (max-width: 759px) {
    // max กว้างมากกว่า ?
    height: 360px;
    .img {
      display: none;
    }
    .boxstandardsm {
      .imgLine {
        height: 420px;
      }
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 759px) {
    // max กว้างมากกว่า ?
    .img {
      display: none;
    }
    .boxstandardsm {
      .imgLine {
        height: 360px;
        top: 745px;
      }
    }
  }

  @media only screen and (max-width: 759px) {
    // max น้อยกว่าหรือเท่ากับ ?
    .img {
      display: none;
    }
  }

  @media only screen and (min-width: 760px) {
    // min มากกว่าหรือเท่ากับ

    height: 500px;
    .boxstandardsm {
      display: none;
    }
  }
}

.gridStandard {
  padding: 20px 15%;

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    padding: 20px 0;
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    padding: 20px 5%;
  }
}

.bg {
  background-image: url("../public/static/bgTower.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
}

.boxStandard {
  position: "relative";
  background-color: "transparent";
}

.cardSatandard {
  background-color: "white";
  height: "200px";
  width: "80%";
  box-shadow: "10px 10px 5px lightblue";
  margin: "auto";
}

.iconStandard {
  height: 50px;
  width: 50px;
}

.boxTitleStandard {
  text-align: center;
  padding: 20px 0;
  .titleStandard {
    font-size: 50px;
    font-family: $text-font-thai;
  }
}

.subdetail {
  font-size: 20;
  text-align: "center";
  line-height: 1;
  padding-top: "20px";
}

.boxGallery {
  background-color: $primary-color;
  .boxImg {
    width: 80%;
    margin-left: 10%;
  }
  .boxImgsx{
    width: 80%;
    margin-left: 10%;
  }
  .title {
    color: white;
    font-family: $text-font-thai;
    padding: 10px 0;
    font-weight: 700;
    font-size: 40px;
  }

  .subTitle {
    color: white;
    font-family: $text-font-thai;
    padding: 0 10% 15px;
    font-size: 1.5em;
  }
}

.containerPromote {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5% 0;
  height: 150px;
  text-align: center;
  .box {
    width: 100px;
    color: $primary-color;
    text-align: center;
  }
  @media only screen and (max-width: 599px) {
    // For mobile devices: 320px to 480px
    padding: 5% 50px;
    height: 350px;
  }

  @media only screen and (min-width: 601px) and (max-width: 713px) {
    // For mobile devices: 320px to 480px
    padding: 5% 15%;
    height: 300px;
  }
  @media only screen and (min-width: 714px) and (max-width: 800px) {
    // For mobile devices: 320px to 480px
    padding: 5% 20%;
    height: 200px;
  }
  @media only screen and (min-width: 714px) and (max-width: 800px) {
    // For mobile devices: 320px to 480px
    padding: 20px 20%;
  }
  @media only screen and (min-width: 1000px) {
    // For mobile devices: 320px to 480px
    padding: 20px 10%;
  }
}

.boxpromote {
  text-align: center;
  padding-top: 20px;
  .title {
    font-family: $text-font-thai;
    font-weight: 700;
    color: $primary-color;
    font-size: 15px;

    @media only screen and (min-width: 400px) and (max-width: 500px) {
      // For mobile devices: 320px to 480px
      font-size: 18px;
    }
    @media only screen and (min-width: 501px) and (max-width: 600px) {
      // For mobile devices: 320px to 480px
      font-size: 20px;
    }
    @media only screen and (min-width: 601px) {
      // For mobile devices: 320px to 480px
      font-size: 25px;
    }
  }
}

.boxfootersm {
  width: 100%;
  height: 260px;
  background-color: $primary-color;
  text-align: center;
  .phone {
    font-weight: 700;
    font-family: $text-font-thai;
    color: white;
    font-size: 30px;
  }
  .handPointer {
    font-size: 40px;
  }
  .btn {
    background-color: $secondary-color;
    color: $primary-color;
    margin: 5px;
    .name {
      font-size: 25px;
      font-family: $text-font-thai;
    }
  }
}

.boxfooter1 {
  width: 100%;
  height: 200px;
  background-color: $primary-color;
  padding-top: 8%;
  padding-left: 10%;

  .phone {
    font-weight: 700;
    font-family: $text-font-thai;
    color: white;
    font-size: 31px;
  }
  .btn {
    padding: 0;
    margin-left: 5px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: $secondary-color;
    color: $primary-color;
  }
}

.boxfooter {
  margin-top: 30px;
  background-color: $primary-color;
  padding: 0 10% 20px;
  .logo {
    width: 100px;
    height: 120px;
  }
  .title {
    color: white;
    text-align: left;
    padding-top: 10px;
    font-family: $text-font-thai;
    font-size: 20px;
  }
  .subtitle {
    color: white;
    text-align: left;
    padding-top: 10px;
    font-family: $text-font-thai;
    padding: 10px 15% 0 0;
  }
  .gridBox {
    padding: 0 10%;
  }

  .containerBtn {
    display: flex;
    justify-content: left;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    .btn {
      margin-top: 15px;
      height: 50px;
      border-radius: 50px;
      border: 2px solid;
      width: 170px;
      color: white;
      text-align: center;
      font-family: $text-font-thai;
    }
    .namebtn {
      font-family: $text-font;
    }
  }
}

//  ------------------- END Body --------------------------

// --------------------- page about --------------------

.boxAbout {
  height: max-content;
  padding-top: 5%;

  .img {
    width: 300px;
    height: 350px;
  }
  .title {
    color: $primary-color;
    font-family: $text-font-thai;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
  }
  .subtitle {
    color: $primary-color;
    font-family: $text-font-thai;
    text-indent: 50px;
    padding-top: 10px;
    padding-right: 25%;
  }
  .slogan {
    color: $primary-color;
    font-family: $text-font-thai;
    font-size: 25px;
    padding: 10px 15% 0 0;
    text-align: center;
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    // For mobile devices: 320px to 480px
    height: max-content;
    padding-top: 10%;
    .img {
      width: 150px;
      height: 200px;
    }
    .title {
      text-align: center;
    }
    .subtitle {
      padding: 10px 3%;
    }

    .slogan {
      font-size: 19px;
      padding: 0;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 899px) {
    // For mobile devices: 320px to 480px
    height: 600px;
    padding-top: 15%;
    .img {
      width: 200px;
      height: 250px;
    }
    // .title{
    //   text-align: center;

    // }
    .subtitle {
      padding: 10px 10% 0 0;
    }

    .slogan {
      font-size: 19px;
      padding: 0;
    }
  }

  @media only screen and (min-width: 900px) {
    // For mobile devices: 320px to 480px
    height: 550px;
  }
}

.boxpersonalConsult {
  background-color: $secondary-color;
  margin-top: 124px;
  height: 220px;
  .imgpersonal {
    right: 10%;
    width: 300px;
    height: 400px;
    position: absolute;
    z-index: 3;
    top: 440px;
  }
  .personalName {
    padding-left: 20%;
  }
  .title {
    font-size: 40px;
    text-align: left;
  }
  .subtitle {
    font-size: 30px;
    text-indent: 50px;
    padding: 20px 0;
  }
  .subtitle2 {
    font-size: 20px;
    text-align: "center";
    padding-left: 150px;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }

  @media only screen and (min-width: 600px) and (max-width: 899px) {
    .imgpersonal {
      right: 0;
      width: 250px;
      height: 350px;
      top: 675px;
    }
    .title {
      font-size: 30px;
    }
    .subtitle {
      font-size: 20px;
    }
    .subtitle2 {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 900px) {
    // For mobile devices: 320px to 480px
    height: 230px;
    .imgpersonal {
      right: 10%;
      width: 250px;
      height: 380px;
      position: absolute;
      z-index: 3;
      top: 590px;
    }
  }
}

.boxpersonalsm {
  background-color: $secondary-color;
  height: max-content;
  width: 100%;
  .imgpersonal {
    width: 200px;
    height: 250px;
  }
  .title {
    font-size: 30px;
    font-family: $text-font-thai;
  }
  .subtitle {
    font-size: 20px;
    padding: 10px 0;
    font-family: $text-font-thai;
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .title {
      text-align: center;
    }
    .subtitle {
      text-align: center;
    }
  }

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.mission {
  background-image: url("../public/static/bgMission.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  top: 30px;
  width: 100%;
  text-align: center;
  padding-top: 10%;

  .boxMission {
    width: 80%;
    margin: auto;

    @media only screen and (min-width: 451px) and (max-width: 900px) {
      width: 95%;
    }
    @media only screen and (min-width: 1200px) {
      width: 70%;
    }
  }

  .box {
    border-style: double;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    height: 200px;
    .title {
      font-size: 30px;
      font-family: $text-font-thai;
    }
    .subtitle {
      font-size: 15px;
      padding: 20px 33px;
      font-family: $text-font-thai;
      @media only screen and (min-width: 300px) and (max-width: 450px) {
        font-size: 14px;
        padding: 5px 5px;
      }
      @media only screen and (min-width: 451px) and (max-width: 900px) {
        font-size: 14px;
        padding: 5px 5px;
      }
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    height: 350px;
  }
}
// --------------------- end page about --------------------

// ---------------------- page gallery -----------------------

.titleGallery {
  font-size: 40px;
  text-align: center;
  padding-top: 5%;
}

.boximg {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
  margin: auto;
  width: 50%;
  margin-top: 30px;

  .boxlist {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

    .img {
      margin-left: 7px;
      margin-top: 7px;
      width: 300px;
      height: 300px;
      padding: 10px;
    }
  }
  @media only screen and (max-width: 601px) {
    display: none;
  }
}

.boximgsx {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  .boxlist {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    .img {
      margin-left: 7px;
      margin-top: 7px;
    }
  }
  @media only screen and (min-width: 601px) {
    display: none;
  }
}

// --------------------- page contact --------------------------

.boxcontact1 {
  padding-left: 20%;
  padding-top: 5%;
  .header {
    font-size: 40px;
    font-family: $text-font-thai;
  }
  .title {
    font-size: 25px;
    padding-top: 10px;
    font-family: $text-font-thai;
  }
  .subtitle {
    font-size: 20px;
    font-family: $text-font-thai;
  }

  .img {
    margin-top: 20px;
    width: 450px;
    height: 450px;
  }

  @media only screen and (min-width: 300px) and (max-width: 1000px) {
    padding-left: 10%;
    .header {
      font-size: 25px;
      font-weight: 700;
    }
    .title {
      font-size: 20px;
      font-weight: 400;
    }
    .subtitle {
      font-size: 15px;
    }
    .img {
      width: 200px;
      height: 250px;
    }
  }
}

.boxcontact2 {
  text-align: left;
  padding-left: 20%;
  padding-top: 5%;
  .imglogo {
    width: 150px;
    height: 200px;
    padding-bottom: 10px;
  }
  .title {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .imgMap {
    width: 500px;
    height: 450px;
  }
  @media only screen and (min-width: 300px) and (max-width: 1000px) {
    padding-left: 10%;
    text-align: center;
    .header {
      font-size: 25px;
      font-weight: 700;
    }
    .title {
      font-size: 20px;
      font-weight: 400;
    }
    .subtitle {
      font-size: 15px;
    }
    .imgMap {
      display: none;
    }
  }
}

// --------------------- page register --------------------------

.imgRegister{
  width: 100%;
  padding-top: 5%;
  text-align: center;
  .img {
    height: max-content;
    width: 75%;
  }
}

.btnRegister{
  width: 100%;
  text-align: center;
  .btn{
    width: 80%;
    background-color: $primary-color;
    padding: 15px;
    .iconBtn{
      width: 30px;
      height: 30px;
      color: white;
    }
    .nameBtn{
      font-size: 30px;
      font-family: $text-font-thai;
      color: white;
    }
  }
}
//  ------------------- start Responsive --------------------------
@media only screen and (min-width: 300px) and (max-width: 480px) {
  // For mobile devices: 300px to 480px
  .coverpage {
    background-image: url("../public/static/boardSm.png");
    margin-top: 10%;
    height: 220px;
  }

  .boxcompanyname {
    top: 200px;
    font-size: 35px;
  }

  .coverConcept {
    height: 350px;
  }

  .boxConcept {
    .textconceptTitle {
      font-size: 12px;
    }
    .textconceptSubTitle {
      font-size: 10px;
    }
  }

  .coverstandard {
    .img {
      display: none;
    }
  }

  .boxTitleStandard {
    .titleStandard {
      font-size: 30px;
    }
  }

  .boxGallery {
    .title {
      font-size: 25px;
    }
    .boxImg {
      display: none;
    }

    .subTitle {
      font-size: 1em;
    }
  }

  .boxfooter1 {
    display: none;
  }

  .boxfooter {
    .title {
      font-size: 10px;
    }
    .subtitle {
      font-size: 10px;
    }
  }

  .titleGallery {
    font-size: 30px;
    text-align: center;
    padding-top: 15%;
  }
  .boximg {
    width: 100%;
    .img {
      width: 150px;
      height: 150px;
      padding: 10px;
    }
  }

  .imgRegister{
    width: 100%;
    padding-top: 15%;
    text-align: center;
    .img {
      height: 600px;
      width: 300px;
    }
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  // For tablets and ipads: 481px to 768px
  .coverpage {
    height: 300px;
  }

  .boxcompanyname {
    top: 200px;
    font-size: 55px;
  }

  .boxConcept {
    .textconceptTitle {
      font-size: 16px;
    }
    .textconceptSubTitle {
      font-size: 12px;
      padding: 10px 5%;
    }
  }

  .borderLarge {
    height: 95%;
  }

  .coverstandard {
    .img {
      display: none;
    }
  }

  .boxGallery {
    .title {
      font-size: 25px;
    }
    .boxImg {
      display: none;
    }

    .subTitle {
      font-size: 1em;
    }
  }
  .boxfooter1 {
    display: none;
  }

  .bgConcept {
    padding-top: 15%;
  }

  .titleGallery {
    font-size: 35px;
    text-align: center;
    padding-top: 15%;
  }
  .boximg {
    width: 100%;
    .img {
      width: 200px;
      height: 200px;
      padding: 10px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  // For laptops: 769px to 1024px
  .coverpage {
    height: 400px;
  }

  .boxcompanyname {
    top: 250px;
    font-size: 85px;
  }
  .bgConcept {
    padding-top: 7%;
  }

  .boxGallery {
    .boxImg {
      width: 50%;
      margin-left: 25%;
    }
    .boxImgsx{
      display: none;
    }
    .subTitle {
      font-size: 15px;
      padding: 0 15% 15px;
    }
  }

  .boxfootersm {
    display: none;
  }
  .boxfooter1 {
    .phone {
      font-size: 27px;
    }
  }

  .titleGallery {
    font-size: 40px;
    text-align: center;
    padding-top: 5%;
  }
  .boximg {
    width: 100%;
    .img {
      width: 200px;
      height: 200px;
      padding: 10px;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  // For desktops: 1025px to 1200px
  .coverpage {
    height: 500px;
  }

  .boxcompanyname {
    top: 300px;
    font-size: 90px;
  }

  .bgConcept {
    padding-top: 6%;
  }

  .boxConcept {
    width: 60%;
    .textconceptTitle {
      font-size: 20px;
    }

    .textconceptSubTitle {
      font-size: 16px;
    }
  }

  .boxGallery {
    padding: 0 10%;
    .boxImgsx{
      display: none;
    }
    .subTitle {
      padding: 0 25% 15px;
    }
  }
  .boxfootersm {
    display: none;
  }
  .boxfooter1 {
    padding-top: 5%;
    padding-left: 4%;
    .phone {
      font-size: 34px;
    }
    .btn {
      width: 180px;
      height: 56px;
    }
    .nameBtn {
      font-size: 20px;
    }
  }
  .titleGallery {
    font-size: 40px;
    text-align: center;
    padding-top: 5%;
  }
  .boximg {
    width: 100%;
    .img {
      width: 200px;
      height: 200px;
      padding: 10px;
    }
  }
}
@media only screen and (min-width: 1201px) {
  .boxGallery {
    padding: 0 10%;
    .boxImg {
      width: 70%;
      margin-left: 15%;
    }
    .boxImgsx{
      display: none;
    }
    .subTitle {
      padding: 0 25% 15px;
    }
  }
  .bgConcept {
    padding-top: 3%;
  }
  .borderLarge {
    width: 60%;
  }
  .boxfootersm {
    display: none;
  }
  .boxfooter1 {
    padding-top: 5%;
    .phone {
      font-size: 34px;
    }
    .btn {
      width: 180px;
      height: 56px;
    }
    .nameBtn {
      font-size: 20px;
    }
  }
}

//  ------------------- End Responsive --------------------------
